@keyframes border-color-change {
  0% {
    border-color: yellow;
  }
  33% {
    border-color: rgb(85, 233, 85);
  }
  66% {
    border-color: orange;
  }
  100% {
    border-color: yellow;
  }
}

.animate-border-infinite {
  animation: border-color-change 3s infinite;
}

